.page-title-section {
    background: #E5F2FF;
    h3.title {
        display: flex;
        align-items: center;
        font-family: 'Cairo';
        font-weight: 900;
        font-size: 18px;
        color: #000;
        height: 100%;
    }
    .inner-search {
        input {
            background: #FFFFFF;
            border-radius: 10px;
            height: 60px;
            width: 100%;
            border: none;
            outline: none;
            padding: 10px;
        }
        button {
            background: #FF0000 0% 0% no-repeat padding-box;
            width: 100%;
            max-width: 152px;
            height: 60px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            border-radius: 10px;
        }
    }
    .icon {
        figure {
            position: relative;
            img {
                height: 114px;
                position: absolute;
                top: -30px;
                left: 8px;
            }
        }
    }
    &.cov {
        .icon {
            figure {
                img {
                    height: 106px;
                    top: -24px;
                    left: 8px;
                    transform: rotateY( 180deg);
                }
            }
        }
    }
}