.search-result-section {
    .label-result {
        font-family: 'Cairo';
        font-weight: 300;
        font-size: 16px;
        color: #000;
        strong {
            font-weight: 700;
        }
    }
    .inner-filter {
        .nice-select {
            height: 60px;
            display: flex;
            align-items: center;
        }
    }
    .nice-select {
        float: none;
        text-align: right !important;
        padding-right: 10px;
        height: auto;
        &::after {
            right: auto;
            left: 12px;
            width: 10px;
            height: 10px;
        }
        .current {
            font-weight: normal;
            font-size: 16px;
            color: #868d9a;
            margin-right: 7px;
            // margin-right: 10px;
        }
        .list {
            right: 0;
            li {
                text-align: right;
                font-weight: normal;
                font-size: 16px;
                color: #868d9a;
            }
        }
    }
}

.nice-card {
    .nice-select {
        height: 100px;
    }
}