.txt-align-l{text-align: left;}

.float-left{float:left;}

.dir{direction: rtl;}

.mar-r-20{margin-right:20px;margin-left:unset;}

.pad-r-40{ padding-right:40px;
  padding-left: unset;
}

.navbar-nav{
  padding-left :20px;
  padding-right: unset;
}

.pad-r-15{
  padding-right:15px;
  padding-left:unset;
}

.change-pass{
    left: 15px;
    right:unset;
}

.menu-button-wrapper {
    right: -75px;
    left:unset;
}

/* right */
#nav-consult_clinic-tab,  #nav-residence-version-tab, #nav-visit_doctor-tab,
#nav-exams_laboratories-tab,  #nav-conhome-tab{
    border-radius: 0px 10px 0px 0px;
}

#nav-consult_home-tab, #nav-renewal-residence-tab, #nav-health-certificate-tab,
 #nav-visit_jilis-tab, #nav-nursing_visit-tab, #nav-rays_holes-tab, #nav-concar-tab
{
    border-radius: 0px;
}
/* left */
#nav-traffic-license-tab, #nav-traffic-license-tab, #nav-consult_video-tab,
#nav-heart_exams-tab, #nav-home_services-tab, #nav-concar-tab2{
    border-radius: 10px 0px 0px 0px;
}

/* sign up mob */

#mat-tab-label-1-1{
    border-radius: 10px 0px 0px 0px;
}
#mat-tab-label-1-0{
    border-radius: 0px 10px 0px 0px;
}


.show-menu{
    top:0;
    right:0;
    left:unset;
}

.mar-radio{
    margin:0 10px 0 20px;
}

/* Select Style */

.select-styled{
    right:10px;
    left:unset;
}

.select-styled:after{
    left:10px;
    right:unset;
}


.input-icon
{
    left: auto;
    right: 12px;
}

.slick-slider .slick-track, .slick-slider .slick-list { direction: ltr; }

div.content {
    margin-right: 300px;
    margin-left:unset;
}

@media screen and (min-width: 768px) {
    

.ng-select-container.ng-has-value{
    top:20px;
    right:20px;
    left:auto;
}

.group-select label{
    right: 10px;
    left:auto;
}

.top-13 .ng-select-container.ng-has-value{
    top:13px!important;
    right: unset;
    left: auto
}
}

